<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="master" connectionString="data source=.;initial catalog=master;integrated security=true;"/>
    <add name="AdventureWorks2017" connectionString="data source=.;initial catalog=AdventureWorks2017;integrated security=true;"/>
    <add name="AdventureWorks2019" connectionString="data source=.;initial catalog=AdventureWorks2019;integrated security=true;"/>
    <add name="MyDB" connectionString="data source=.;initial catalog=MyDB;integrated security=true;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
